extends layout
block content
    .main-container
        .board
            // data-indx following cell divs represents cell index in 1D array representation
            .cell(data-indx='0')
            .cell(data-indx='1')
            .cell(data-indx='2')
            .cell(data-indx='3')
            .cell(data-indx='4')
            .cell(data-indx='5')
            .cell(data-indx='6')
            .cell(data-indx='7')
            .cell(data-indx='8')
        .control
            // div.intial displays the starting controls
            .intial
                .difficulty
                    span#blind.level.not-selected Blind
                    span#novice.level.not-selected Novice
                    span#master.level.not-selected Master!
                .start  Start
            // div.ingame displays in-game messages and controls
            #human.ingame It's your turn ...
            #ai.ingame
                img#robot.robot(src='imgs/robot.png')
                p Waint for it ...
            #won.ingame You won !
            #lost.ingame You lost !
            #draw.ingame It's a Draw