doctype html
html
  head
    title= 'TheBoringGame'
    link(rel='stylesheet', href='/stylesheets/ui.css')
    link(rel='stylesheet', href='/stylesheets/reset.css')

  body
    block content
    script(src='/javascripts/jquery-1.10.1.min.js')
    script(src='/javascripts/ui.js')
    script(src='/javascripts/game.js')
    script(src='/javascripts/ai2.js')
    script(src='/javascripts/control.js')
